<!DOCTYPE html>
<html>
<head>
  <title>FORM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
<div id='header'>
  <div id='theme'>My Curation</div>
  <hr>
</div>

    <%= yield %>
  </body>
</html>
